.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #BC2649;
}

.company_logo {
  font-size: 2em;
  color: #ffffff;
}

.nav_items {
  display: flex;
}

.nav_item {
  list-style: none;
  margin: 0 2rem;
}

.nav_link {
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  position: relative;
  font-weight: 600;
  color: #ffffff;
}

.menu_toggle {
  display: none;
  position: relative;
  width: 25px;
  height: 18px;
  cursor: pointer;
}

.menu_toggle::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000000;
  transition: transform 0.3s;
  transform-origin: center;
  border-radius: 10px;
}

.menu_toggle_center,
.menu_toggle::after {
  content: '';
  position: absolute;
  top: 42.4%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000000;
  transition: transform 0.3s;
  transform-origin: center;
  border-radius: 10px;
}

.menu_toggle::after {
  content: '';
  top: auto;
  bottom: 0;
}

.menu_toggle_active * {
  display: none;
}

.menu_toggle_active::before {
  transform: translateY(8px) rotate(45deg);
}

.menu_toggle_active::after {
  transform: translateY(-8px) rotate(-45deg);
}

/* =============== MEDIA QUERIES ======= */

@media screen and (max-width: 768px) {

  /* ================= HEADER ================ */
  .header {
    padding: 0.5rem 1rem;
  }

  .navbar {
    background-color: #ebebeb;
    position: absolute;
    /* top: 3rem; */
    top: 60vh;
    right: 0;
    bottom: 0;
    height: 100vw;
    width: 100%;
    display: flex;
    justify-content: center;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 300ms;
  }

  .show_navbar {
    display: flex;
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 300ms;
    /* background-color: rgb(167, 215, 255); */
    border-radius: 40px;
    opacity: 0.8;
  }

  .nav_items {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
  }

  /* .nav_items::before {
    content: '';
    width: 100vw;
    height: 50vh;
    border-radius: 40px;
    position: absolute;
    bottom: 0px;
    left: 0;
    background-color: #f5ebe0;
    opacity: 0.9;
  } */

  .nav_item {
    margin: 0.5rem 0;
  }

  .nav_link {
    color: #000000;
    opacity: 1;
  }

  .menu_toggle {
    display: block;
  }
}

@media (min-width: 769px) {
  .header {
    padding: 1rem 5rem;
  }
}