#audio {
    display: none;
}

.wrap {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    background-color: #BC2649;
    border-radius: 20px;
    padding: 5px;
    height: 2.5rem;
    align-items: center;
    justify-items: center;
    
}

.wrap * {
    display: grid;
    place-items: center;
}

.seekbar{
    width: 90%;
}

.a{
    background-color: #BFCAD6;
}
/* .a::after {
    content:"";
    border-width: 0.4rem 0 0.4rem 0.5rem;
    border-color: transparent transparent transparent #ff0000;
    position: absolute;
} */